<form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć tę imprezę?');" class="delete_form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-danger">{{ button_label|default('Usuń') }}</button>
</form>
