{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Column 1</th>
				<th scope="col">Column 2</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.column1 }}</td>
					<td>{{ item.column2 }}</td>
					<td>
						<button class="btn btn-primary">Edit</button>
						<button class="btn btn-danger">Delete</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
