{% extends 'base.html.twig' %}

{% block title %}Analyser
{% endblock %}

{% block body %}
	<div class="container">
		<div class="content">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col">Obiekt</th>
						<th scope="col">Akcja</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						<tr>
							<!-- Miniaturka obrazka -->
							<td class="object_area">
								<img class="object-thumbnail" src="{{ asset(item) }}" alt="Obrazek" onclick="openModal(this)">
							</td>

							<!-- Kontener modalny dla powiększonego obrazka -->
							<div id="modal" class="modal">
								<span class="close" onclick="closeModal()">&times;</span>
								<img class="modal-content" id="modalImage">
							</div>
							<td class="action_area">
								<form action="{{ path('app_scanned_object_new') }}" method="post">
									<input type="hidden" name="photo_path" value="{{ asset(item) }}">
									<button type="submit" class="btn-add-object">Dodaj</button>
									<a onclick="deleteFile('{{ item }}')" class="btn-list btn-delete-object">Edytuj</a>
								</form>


							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
