{% extends 'base.html.twig' %}

{% block title %}Analyser
{% endblock %}

{% block body %}
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Obiekt</th>
				<th scope="col">Akcja</th>
			</tr>
		</thead>
		<tbody>
			<pre>
		</pre>
			{% for item in items %}
				<tr>
					<td class="object_area"><img class="object-thumbnail" src="{{ asset(item) }}"></td>
					<td class="action_area">
						<button class="btn btn-primary">Dodaj</button>
						<button class="btn btn-danger">Usuń</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
