<form method="post" action="{{ path('app_scanned_object_delete', {'id': scanned_object.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć ten obiekt?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scanned_object.id) }}">
    <button class="btn">Delete</button>
</form>
