{% extends 'base.html.twig' %}

{% block title %}Obiekt - edycja{% endblock %}

{% block body %}
    <h1>Edytuj obiekt</h1>

    {{ include('scanned_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_scanned_object_index') }}">Powrót do listy</a>

    {{ include('scanned_object/_delete_form.html.twig') }}
{% endblock %}
