{% extends 'base.html.twig' %}

{% block title %}Baza danych{% endblock %}

{% block body %}
    <h1>Lista obiektów</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for scanned_object in scanned_objects %}
            <tr>
                <td>{{ scanned_object.name }}</td>
                <td>
                    <a href="{{ path('app_scanned_object_show', {'id': scanned_object.id}) }}">Pokaż</a>
                    <a href="{{ path('app_scanned_object_edit', {'id': scanned_object.id}) }}">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Brak wpisów</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_scanned_object_new') }}">Dodaj</a>
{% endblock %}
