{% extends 'base.html.twig' %}

{% block title %}New ScannedObject{% endblock %}

{% block body %}
    <h1>Create new ScannedObject</h1>

    {{ include('scanned_object/_form.html.twig') }}

    <a href="{{ path('app_scanned_object_index') }}">back to list</a>
{% endblock %}
