<form method="post" action="{{ path('app_shperacze_delete', {'id': shperacze.id}) }}" onsubmit="return confirm('Na pewno chcesz usunąć Shperacza?');" class="delete_form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shperacze.id) }}">
    <button class="btn btn-danger">{{ button_label|default('Usuń') }}</button>
</form>
