{% extends 'base.html.twig' %}

{% block title %}Frakcja - edycja{% endblock %}

{% block body %}
    <h1>Edytuj frakcję</h1>

    {{ include('fraction/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('fraction/_delete_form.html.twig') }}
{% endblock %}
